*.java text
*.md text
*.lus text
*.g4 text
*.tokens text
.project text
.classpath text
*.userlibraries text
*/.settings/* text
*.jardesc text
*.launch text
LICENSE text

*.png binary
*.gif binary
*.jar binary

# Scripts are platform specific
scripts/* text eol=lf
scripts/*.bat text eol=crlf
