<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/jkind/src/jkind/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="YICES2_HOME" value="F:\apps\yices-2.6.0"/>
<mapEntry key="Z3_HOME" value="F:\apps\z3-4.8.4"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="jkind.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-jkind -solver yices2 -ivc -scratch gauss.lus"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="jkind"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="F:\scratch"/>
<stringAttribute key="yk-options" value="&#13;&#10;additional-options2=onexit\=snapshot&#13;&#10;"/>
</launchConfiguration>
